body{
    width: 80%;
    margin: 0 auto; /* pour centre*/
    background-color: rgb(123, 86, 159);
}

/* 
text-align permet de controler l'alignement du texte
 */

h1{
    text-align: center;
    color: brown;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-wrap: balance;
}
h1 span{
    font-style: italic;
}
h2{
    color: blue;
    text-transform: uppercase;
    font-size: 20px;
    font-family: serif;
}
h6{
    text-align: right;
}
h6 span{
    color: red;
}

p{
    line-height: 1.5;
}

strong{
    color: #fd79a8 ;
}
ul{
    list-style-type: upper-alpha;
}
ul li{
    margin: 10 0;
}
ol{
    list-style-image: url(./arrow\ right.svg)
}
a{
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    cursor: pointer;
}
h3{
    color: tomato;
    font-family: "alice",sans-serif;
}
my-font{
    font-family: 'Courier New', Courier, monospace;
}
/*  */